body{
		background-color: whitesmoke;
}
p.products{
	text-align: center;
}
label{
	display: inline-block;
	text-align: center;
	width: 10%;
}
.ltop{
	border-bottom: 2px solid black;
	border-color: silver;
	width: 100%;
	overflow: auto;

}
.ltopleft{
	width: 60%;
	float: left; 	
}
.ltopright{
	width: 20%;	
	float: left;
	margin-top: 2%;
}
.lmain{
	width: 100%;
	
}
.lproduct{
	border-style: ridge;
	width: 18%;
	height: 20%;
	float: left;
	margin-left: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.atop{
	border-bottom: 2px solid black;
	border-color: silver;
	width: 100%;
	overflow: auto;

}
.atopleft{
	width: 60%;
	float: left; 	
}
.atopright{
	width: 20%;	
	float: left;
	margin-top: 2%;
}
.add{
	margin-top: 2%;
	margin-left: 2%;
}
.detail{
	margin-top: 1%;
}
.aopt{
	margin-top: 2%;
}
.addForm{
	margin-top: 3%;
	border-style: ridge;
	width: 30%;
	text-align: center;
}

@media screen and (max-width:800px) {
  .ltop, .ltopleft, .ltopright .lmain .lproduct .products .label .aopt .addForm{
    width:100%;
    }
}